<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ejs</title>
</head>
<body>
  <!--
    ejs模板引擎的三种语法：
      < %    % >   能在其中写任意的js代码, 没有任何输出到模板上
      < %-    % >  输出非转义的数据到模板上, 不进行html标签的转义，直接显示
      < %=    % >  输出转义的数据到模板上, 将html标签完整的显示，如： ’<p>sunwukong</p>‘
  -->

 <% for (let i = 0; i < 5; i++) { %>
  <h1>用户名：<%= data.username %></h1>
 <% } %>

  <%  if (false) { %>
    <h1>用户名：<%- data.username %></h1>
  <%  }  %>

  <% console.log(11111111111) %>

</body>
</html>